.related-events__time {
  display: inline-block;
  width: rem(128);
  font-weight: 600;
}


.related-events__time-wd {
  display: inline-block;
  min-width: rem(25);
}


.related-events__time-d {
  display: inline-block;
  min-width: rem(21);
}
