.cross-projects {
  padding-left: rem(48);
  padding-right: rem(48);
  padding-top: rem(60);
  .bttn {
    color: $color--red;
    padding-right: rem(26);
    font-family: $font-family--work-sans;
    font-size: rem($font-size--standard);
    font-weight: 600;
    &::before,
    &::after {
      background-image: url('../images/arrow--red.svg');
      background-size: rem(19) rem(12);
    }
    &::before {
      width: rem(12);
    }
    &::after {
      width: rem(7);
    }
  }
  @media (max-width: #{em(888)}) {
    padding-top: rem(40);
    padding-bottom: rem(40+24);
  }
  @media (max-width: #{em(444)}) {
    padding-left: rem(24);
    padding-right: rem(24);
  }
}


// li element
.cross-projects__item {
  max-width: rem(288);
  margin-bottom: rem(20);
  strong {
    display: block;
    margin-bottom: rem(5);
    color: $color--red;
    text-transform: uppercase;
    line-height: rem(25);
    font-size: rem(24);
    font-weight: 900;
    letter-spacing: 0.02em;
  }
  em {
    display: block;
    line-height: rem($line-height--small);
    font-size: rem($font-size--small);
    font-weight: 500;
    color: transparentize($color--black, 0.6);
    transition-duration: $transition-duration;
  }
  a:focus,
  a:hover {
    em {
      color: $color--blue;
    }
  }
}
