.nav__item {
  min-height: rem(20);
  margin-left:  rem(20);
  margin-right: rem(20);
  margin-bottom: rem(10);

  &.is-langswitch {
    margin-top: rem(20);
  }

  @media (max-width: #{em($bp-mobile-nav)}) {
    margin-bottom: rem(6);
    margin-left: auto;
    margin-right: auto;
    &.is-homepage {
      display: none;
    }
    &.is-langswitch {
      margin-top: 0;
      a {
        max-width: 0.65em;
        text-transform: lowercase;
        overflow: hidden;
      }
    }
  }
}
