.dates__close {
  position: absolute;
  z-index: 20;
  left: 50%;
  top: rem(-24-16);
  margin-left: rem(-6);
  color: $color--blue;
  span {
    display: inline-block;
    padding-left: rem(20);
    font-family: $font-family--caveat;
    font-size: rem(25);
    background-image: url('../images/close--alt.svg');
    background-repeat: no-repeat;
    background-position: left rem(5);
  }
  &:focus,
  &:hover {
    span {
      text-decoration: underline;
    }
  }
  @media (max-width: #{em(888)}) {
    position: fixed;
    top: auto;
    bottom: rem(41);
    left: 0;
    right: 0;
    display: flex;
    height: rem(30);
    justify-content: center;
    white-space: nowrap;
    padding-top: rem(10);
    border-top: rem(1) solid transparentize(darken($color--beige, 10), 0.1);
    background-color: transparentize($color--white, 0.1);
    -webkit-backdrop-filter: blur(2px);
    &::after {
      content: ' ';
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      top: 0;
      height: 100%;
      opacity: 0.5;
      background-image: url('../images/pattern@2x.png');
      background-size: rem(512);
      background-position: center top;
      background-color: $color--beige;
    }
    span {
      display: block;
    }
  }
}
