.project__nav-item--prev,
.project__nav-item--next {
  position: absolute;
  max-width: rem(288);
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: rem(20);
  font-size: rem(18);
  font-weight: 700;
  letter-spacing: 0.02em;
  opacity: 0.4;
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: rem(7);
    top: rem(4);
    width: rem(12);
    height: rem(12);
    background-image: url('../images/arrow--blue.svg');
    background-size: rem(19) rem(12);
    background-repeat: no-repeat;
    background-position: left center;
    transform-origin: left;
    transition-duration: $transition-duration * 0.5;
    filter: contrast(2) grayscale(2);
  }
  &:focus,
  &:hover {
    opacity: 1;
    color: $color--blue;
    &::before,
    &::after {
      filter: none;
    }
  }
}

.project__nav-item--prev {
  left: rem(192+32);
  bottom: rem(518+24);
  padding-left: rem(28);
  &::after {
    right: 0;
    width: rem(7);
    transform: rotate(180deg);
    background-position: right center;
  }
  &:focus,
  &:hover {
    &::after {
      transform: rotate(180deg) translateX(#{rem(1)});
    }
  }
  @media (max-width: #{em(888)}) {
    left: calc(50% - #{em(408/2+28)});
  }
  @media (max-width: #{em(496)}) {
    left: rem(24);
  }
  @media (max-width: #{em(444)}) {
    bottom: calc(100% - #{rem(60)});
  }
}

.project__nav-item--next {
  right: rem(192+32);
  top: rem(504+15+24);
  text-align: right;
  padding-right: rem(28);
  &::before,
  &::after {
    left: auto;
    right: rem(7);
  }
  &::after {
    right: 0;
    width: rem(7);
    background-position: right center;
  }
  &:focus,
  &:hover {
    &::after {
      transform: translateX(#{rem(1)});
    }
  }
  @media (max-width: #{em(888)}) {
    right: calc(50% - #{em(408/2+28)});
  }
  @media (max-width: #{em(496)}) {
    right: rem(24);
  }
  @media (max-width: #{em(444)}) {
    top: calc(100% - #{rem(60)});
  }
}
