$font-family--work-sans: 'Work Sans', sans-serif;
$font-family--caveat:    'Caveat', sans-serif;

$font-size--small:    14;
$font-size--standard: 17;
$font-size--h2:       40;
$font-size--h3:       27;
$font-size--h4:       21;
$font-size--h5:       17;

$line-height--small:    15;
$line-height--standard: 20;
$line-height--h2:       $font-size--h2;
$line-height--h3:       30;
$line-height--h4:       25;
$line-height--h5:       20;
