.cross {
  position: relative;
  display: flex;
  max-width: rem(888);
  margin-bottom: rem(10);
  margin-left:  auto;
  margin-right: auto;
  flex-wrap: wrap;
  &::before {
    content: ' ';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: $transition-duration;
    background-image:
      url('../images/dotted-border.svg'),
      url('../images/dotted-border.svg'),
      url('../images/dotted-border.svg'),
      url('../images/dotted-border.svg');
    background-repeat:
      repeat-x,
      repeat-x,
      repeat-y,
      repeat-y;
    background-position:
      center,
      center,
      center top,
      center top;
  }

  @media (max-width: #{em(888)}) {
    flex-direction: column;
    align-items: center;
    &:not(.cross--project)::before {
      background: none;
    }
  }

}


.cross--project {
  &::before {
    opacity: 1;
    background-position:
      center rem(72+24), // top
      center rem(504-24), // bottom
      rem(192-24) center, // left
      rem(672+24) center; // right
  }
  @media (max-width: #{em(888)}) {
    &::before {
      background-image:
        url('../images/dotted-border.svg'),
        url('../images/dotted-border.svg'),
    }
  }
  @media (max-width: #{em(444)}) {
    &::before {
      background-position:
        center rem(70), // top
        center calc(100% - #{rem(70)}), // bottom
    }
  }
}


.cross__item {
  max-width: rem(888/2);
  min-height: rem(372);
  width: 100%;
  flex-basis: rem(888/2);
  box-sizing: border-box;
  @media (max-width: #{em(888)}) {
    flex-basis: auto;
    min-height: 0;
    &:not(:last-of-type) {
      background-image: url('../images/dotted-border.svg');
      background-repeat: repeat-x;
      background-position: center bottom;
    }
  }
}
