.info {
  display: flex;
  max-width: rem(912+48);
  margin-bottom: rem(8);
  margin-left:  auto;
  margin-right: auto;
  padding-left: rem(8);
  padding-right: rem(8);
  flex-wrap: wrap;
  justify-content: center;
}
